.navbar a {
    display: inline-block;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding: 1rem 4rem;
    width: 80%;
    background-color: var(--lightblack1);
    margin: 0 0 0 5rem;
    border-radius: 0px 0px 6px 6px ;
    position: fixed;
    z-index: 1000;
}
.navbar__text {
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: var(--grey);
    font-family: var(--title-font);
}
.navbar__text a{
    color: var(--grey);
    font-size: 1rem;
}
.navbar__text :hover {
    transform:scale(1.5,1.5) ;
    color: white;
    font-weight: bold;
}

.navbar__icon{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.3rem;
}
.navbar__icon a{
    color: var(--grey);
}
@media screen and (max-width:1138px){
    .navbar{
        gap: 2rem;
        padding: 1rem 2rem;

    }
    .navbar__icon{
        gap: 1rem;
        font-size: 1rem;
    }
    .navbar__icon{
        margin-left: 1rem;
    }
}

@media screen and (max-width:966px){
    .navbar{
        gap: 1.2rem;
        padding: 1rem 1rem 1rem 2rem;
    }
    .navbar__text a{
        font-size: 1.1rem;
    }
    .navbar__icon{
        gap: 1rem;
        font-size: 1.3rem;
    }
}
@media screen and (max-width:790px){
    .navbar{
        gap: 0.7rem;
        padding: 1rem 2rem 1rem 1rem;
        width: 100%;
        margin-left: 0;

    }
    .navbar__text a{
        font-size: 1.2rem;
    }
    .navbar__icon{
        gap: 0.7rem;
        font-size: 1.2rem;
        margin-left: 0.7rem;
    }
}
@media screen and (max-width:660px){
    .navbar{
        gap: 0.5rem;
        padding: 1rem 2rem 1rem 2rem;
    }
}
